@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #03001c;
}

@font-face {
  font-family: helveticalNeue;
  src: url(./assets/fonts/HelveticaNeueMedium.otf);
}
.helveticalNeue {
  font-family: helveticalNeue;
}

@font-face {
  font-family: clash-display-regular;
  src: url(./assets/fonts/ClashDisplay-Regular.otf);
}
.clash-display-regular {
  font-family: clash-display-regular;
}

@font-face {
  font-family: clash-display-medium;
  src: url(./assets/fonts/ClashDisplay-Medium.otf);
}
.clash-display-medium {
  font-family: clash-display-medium;
}

@font-face {
  font-family: general-sans;
  src: url(./assets/fonts/GeneralSans-Extralight.otf);
}
.general-sans {
  font-family: general-sans;
}

.group-1 {
  position: absolute;
  z-index: -2;
}

/*
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
